/* 1. BASE */

a { color:#0074A4; }
.box { margin:0 1.25em; }
.boxp { padding:0 1.25em; }
.check { text-align:center; }
.translation_missing {color: red !important;}

#godmode .container-fluid { padding:0; }
#godmode .container-fluid .container { width:auto; padding:0 1.25em 3.125em 2.5em; }

/* 2. TOPBAR AREA */

.topbar {
	height: 2.5em;
	left: 0;
	overflow: visible;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000; }
	
.topbar a {
	color: #BFBFBF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
	
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
	background-color: rgba(255, 255, 255, 0.05);
	color: #fff;
	text-decoration: none; }
		
.topbar h3 {
    position: relative; }
		
.topbar h3 a, .topbar .brand {
	color: #fff;
	display: block;
	float: left;
	font-size: 1.25em;
	font-weight: 200;
	line-height: 1;
	margin-left: -1.25em;
	padding: .5em 1.25em .75em; }
	
.topbar p {
	line-height: 2.5em;
	margin: 0; }
		
.topbar p a:hover {
	background-color: transparent;
	color: #fff; }

.topbar .user { padding-left:50px; }	
.topbar .userpic { position:absolute; top:5px; left:10px; height:30px; width:30px; display:inline-block; }
.topbar .creat {
	background-image: -moz-linear-gradient(top, #FCD643, #FFB200);
  background-image: -ms-linear-gradient(top, #FCD643, #FFB200);
  background-image: -webkit-linear-gradient(top, #FCD643, #FFB200);
  background-image: -o-linear-gradient(top, #FCD643, #FFB200);
  background-image: linear-gradient(top, #FCD643, #FFB200);
	color:#111;
	text-shadow:0 1px rgba(255, 254, 0, .95); }

.topbar div > ul .dropdown.open .dropdown-toggle.creat,
.topbar div > ul .dropdown-toggle.creat:hover {
	text-shadow:none;
	color:#111;
	text-shadow:0 1px rgba(255, 254, 0, .75); 
	background-image: -moz-linear-gradient(center top , #FCBE43, #FFA100);
  background-image: -ms-linear-gradient(top, #FCBE43, #FFA100);
  background-image: -webkit-linear-gradient(top, #FCBE43, #FFA100);
  background-image: -o-linear-gradient(top, #FCBE43, #FFA100);
  background-image: linear-gradient(top, #FCBE43, #FFA100); }	
		
.topbar form {
	float: left;
	margin: .3125em 0 0;
	opacity: 1;
	position: relative; }
	
.topbar form.pull-right {
	float: right; }
		
.topbar input {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: normal;
  line-height: 1;
  padding: .25em .5625em;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #111;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }
	
.topbar input:-moz-placeholder { 
	color: #E6E6E6; }
	
.topbar input:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff; }
	
.topbar input:focus, .topbar input.focused {
    background-color: #fff;
    border: 0 none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		-o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		-ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    color: #404040;
    outline: 0 none;
    padding: .3125em .625em;
    text-shadow: 0 1px 0 #fff; }
		
.topbar-inner, .topbar .fill {
  background-color: #000;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
		
.topbar div > ul, .nav {
	display: block;
	float: left;
	left: 0;
	margin: 0 .625em 0 0;
	position: relative; }
	
.topbar div > ul > li, .nav > li {
	display: block;
	float: left;
	margin-bottom:0; }
	
.topbar div > ul a, .nav a {
	display: block;
	float: none;
	line-height: 1.1875em;
	padding: .625em .625em .6875em;
	text-decoration: none; }
	
.topbar div > ul a:hover, .nav a:hover {
	color: #fff;
	text-decoration: none; }
	
.topbar div > ul .active > a,
.nav .active > a {
  background-image: -moz-linear-gradient(top, rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8));
  background-image: -ms-linear-gradient(top, rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(top, rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8));
  background-image: -o-linear-gradient(top, rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(top, rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8));
	}
	
.topbar div > ul.secondary-nav,
.nav.secondary-nav {
	float: right;
	margin-left: .625em;
	margin-right: 0; }
	
.topbar div > ul.secondary-nav .menu-dropdown,
.nav.secondary-nav .menu-dropdown, 
.topbar div > ul.secondary-nav .dropdown-menu, 
.nav.secondary-nav .dropdown-menu {
	border: 0 none;
	right: 0; }
	
.topbar div > ul a.menu:hover, 
.nav a.menu:hover, 
.topbar div > ul li.open .menu, 
.nav li.open .menu, 
.topbar div > ul .dropdown-toggle:hover, 
.nav .dropdown-toggle:hover, 
.topbar div > ul .dropdown.open .dropdown-toggle, 
.nav .dropdown.open .dropdown-toggle {
	background: rgba(255, 255, 255, 0.05); }
	
.topbar div > ul .menu-dropdown, 
.nav .menu-dropdown, 
.topbar div > ul .dropdown-menu, 
.nav .dropdown-menu {
	background-color: #333; }
	
.topbar div > ul .menu-dropdown a.menu, 
.nav .menu-dropdown a.menu, 
.topbar div > ul .dropdown-menu a.menu, 
.nav .dropdown-menu a.menu, 
.topbar div > ul .menu-dropdown .dropdown-toggle, 
.nav .menu-dropdown .dropdown-toggle, 
.topbar div > ul .dropdown-menu .dropdown-toggle, 
.nav .dropdown-menu .dropdown-toggle {
	color: #fff; }
	
.topbar div > ul .menu-dropdown a.menu.open, 
.nav .menu-dropdown a.menu.open, 
.topbar div > ul .dropdown-menu a.menu.open, 
.nav .dropdown-menu a.menu.open, 
.topbar div > ul .menu-dropdown .dropdown-toggle.open, 
.nav .menu-dropdown .dropdown-toggle.open, 
.topbar div > ul .dropdown-menu .dropdown-toggle.open, 
.nav .dropdown-menu .dropdown-toggle.open {
	background:  rgba(255, 255, 255, 0.05); }
	
.topbar div > ul .menu-dropdown li a, 
.nav .menu-dropdown li a, 
.topbar div > ul .dropdown-menu li a, 
.nav .dropdown-menu li a {
	color: #999;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
	
.topbar div > ul .menu-dropdown li a:hover, 
.nav .menu-dropdown li a:hover, 
.topbar div > ul .dropdown-menu li a:hover, 
.nav .dropdown-menu li a:hover {
	background-color: #191919;
  background-image: -moz-linear-gradient(top, #292929, #191919);
  background-image: -ms-linear-gradient(top, #292929, #191919);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));
  background-image: -webkit-linear-gradient(top, #292929, #191919);
  background-image: -o-linear-gradient(top, #292929, #191919);
  background-image: linear-gradient(top, #292929, #191919);
	background-repeat: repeat-x;
	color: #fff; }
	
.topbar div > ul .menu-dropdown .active a, 
.nav .menu-dropdown .active a, 
.topbar div > ul .dropdown-menu .active a, 
.nav .dropdown-menu .active a {
	color: #fff; }
	
.topbar div > ul .menu-dropdown .divider, 
.nav .menu-dropdown .divider, 
.topbar div > ul .dropdown-menu .divider, 
.nav .dropdown-menu .divider {
	background-color: #222;
	border-color: #444; }
	
.topbar ul .menu-dropdown li a, 
.topbar ul .dropdown-menu li a {
	padding: .25em .9375em; }

/* 2.1 Topbar icons */

.topbar .publications	{ background-image: image_url("journalist/icons/16px/attibutes-inv.png") }
.topbar .mediabank { background-image: image_url("journalist/icons/16px/illustration-inv.png") }
.topbar .comments { background-image: image_url("journalist/icons/16px/comment-inv.png") }
.topbar .users { background-image: image_url("journalist/icons/16px/customers-inv.png") }
.topbar .advertising { background-image: image_url("journalist/icons/16px/advertising-inv.png") }
.topbar .settings { background-image: image_url("journalist/icons/16px/settings-inv.png") }
.topbar .new { background-image: image_url("journalist/icons/16px/creat.png") }
.topbar .my-account { background-image: image_url("journalist/icons/16px/my-account-inv.png") }
.topbar .logout { background-image: image_url("journalist/icons/16px/logout-inv.png") }


/* 3. SIDEBAR AREA */

#godmode .container-fluid > .sidebar { 
	position:fixed; 
	left:0; 
	top:2.5em; 
	bottom:0; 
	overflow: auto; 
	border-right:1px solid #ccc;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box; 
	-ms-box-sizing: border-box;
	background-image: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #F2F2F2), -webkit-linear-gradient(left, #F2F2F2, #F2F2F2 97%, #D3D7DB);
	background-image: -moz-linear-gradient(rgba(234, 238, 243, 0.2), #F2F2F2), -moz-linear-gradient(left, #F2F2F2, #F2F2F2 97%, #D3D7DB);
	background-image: -o-linear-gradient(rgba(234, 238, 243, 0.2), #F2F2F2), -moz-linear-gradient(left, #F2F2F2, #F2F2F2 97%, #D3D7DB);
	background-image: -ms-linear-gradient(rgba(234, 238, 243, 0.2), #F2F2F2), -moz-linear-gradient(left, #F2F2F2, #F2F2F2 97%, #D3D7DB); }

.sidebar .page-header, .sidebar hr { 
	border-color: #e1e1e1;
  box-shadow: 0 1px 0 #f5f5f5;
	-moz-box-shadow: 0 1px 0 #f5f5f5;
	-webkit-box-shadow: 0 1px 0 #f5f5f5;
	-o-box-shadow: 0 1px 0 #f5f5f5; }
	
.sidebar h2, 
.sidebar h3, 
.sidebar h4 { 
	color:#53637D; 
	text-shadow:0 1px #F5F8FC; 
	font-family:sans-serif; }

	
/* 3.1 Sidebar navigation */

.sidebar .pills { 
  text-align:center; 
	margin-bottom:.9375em; }

.sidebar .pills li { 
	display:inline-block; 
	float:none; }

.sidebar .pills a:hover { background:none; }

.sidebar .pills li.active a { 
	background:#0074A4; 
	box-shadow:0 1px 1px #00445F inset, 0 1px 0 #fff;
	-moz-box-shadow:0 1px 1px #00445F inset, 0 1px 0 #fff;
	-webkit-box-shadow:0 1px 1px #00445F inset, 0 1px 0 #fff;
	-o-box-shadow:0 1px 1px #00445F inset, 0 1px 0 #fff;
	-ms-box-shadow:0 1px 1px #00445F inset, 0 1px 0 #fff; }

.sidebar nav { 
	overflow:auto;
	font-family:sans-serif; }
	
.sidebar nav ul { 
	margin:0; }
	
.sidebar nav ul li { 
	position:relative;
	line-height:2.375em; }

.sidebar nav ul ul li {
	font-size:.8125em; 
	line-height:2.307em; }
	
.sidebar nav ul li a { 
	padding:0 1.25em; 
	display:block; }
	
.sidebar nav ul ul li a { 
	padding:0 1.538em; 
	display:block;	}

.sidebar nav ul li.active > a {
	color:#53637D;
	text-decoration:none;
	text-shadow:0 1px #D5E1ED;
	background-color:#ddd;
	border:1px solid #8FAAD9; 
	border-width:1px 0;
	background-color:#BBCEE9;
	background-image:-webkit-linear-gradient(left, #BBCEE9, #BBCEE9 97%, #AABEDC);
	background-image:-moz-linear-gradient(left, #BBCEE9, #BBCEE9 97%, #AABEDC);
	box-shadow:0 1px #fff;
	-moz-box-shadow:0 1px #fff;
	-webkit-box-shadow:0 1px #fff;
	-o-box-shadow:0 1px #fff;
	-ms-box-shadow:0 1px #fff; }

.sidebar nav ul ul li.active > a {
	color:#cc0033;
	text-decoration:none;
	text-shadow:none;
	background:none;
	border:none; 
	box-shadow:none; }

.sidebar nav ul li.active > a,
.sidebar nav ul ul li.active > a {
	font-weight:700; }
	
nav.secondary-menu ul li a {
	color:#009933; }

nav.secondary-menu ul li a:hover { text-decoration:none; }
	

/* 4. CONTENT AREA */

#godmode .content { margin-top:2.5em; }
#godmode .sidebar + .content { margin-left:13.75em; }

#godmode .content > header { border-bottom:1px solid #E1E1E1; }
#godmode .content > header h2 { margin:0; line-height:1.0714; }

.content h2, 
.content h3, 
.content h4 { 
	color:#111; 
	text-shadow:0 1px #fff; 
	font-family:sans-serif; }

/* 4.1 Table list*/

.listingtable { 
	margin-bottom:3.375em; }

.listingtable th { 
	color:gray; 
	font-size:.75em; 
	text-transform:uppercase; 
	padding:1em .8333em .916em;  }
	
.listingtable	.headerSortDown, 
.listingtable .headerSortUp {
	color:#333; }
	
.listingtable .check { 
 text-align:center;
 padding-right:0; }
 
.listingtable .check input { 
	opacity:.5; }
	
.listingtable tr:hover .check input,
.listingtable tr:hover .author-comment,
.listingtable tr:hover .new-window { 
	opacity:1; }

.listingtable th.check, 
.listingtable td.dragHandle { 
	padding-left:1em; }

.listingtable td.check, .listingtable td.dragHandle { 
	padding-left:.75em; }
	
.listingtable td.dragHandle { 
	background:image_url("journalist/drag-handle.png") 100% no-repeat; 
	text-indent:-999px; 
	cursor:ns-resize; }	
		
.listingtable .publication:visited,
.listingtable .last-modified, 
.listingtable .likes { color:gray; }

.listingtable .rubric, 
.listingtable .comment-count,
.listingtable .new-window {
	color:#BBCEE9;
	text-decoration:none; }

.listingtable .new-window:hover { color:#C03; }
	
.listingtable .author-comment, 
.listingtable .new-window,
.listingtable .message-head {
 margin-bottom:.625em; 
 opacity:.15; }
 
.listingtable .message-head {
	opacity:1; }

.listingtable .message-head .field {
	color:gray; }	


/* 4.2 Forms */

fieldset.divider { border:1px solid #eee; border-width:1px 0; }
fieldset.toogle { border-top:1px solid #eee; margin:0; }
fieldset.toogle legend { padding-right:10px; background:#fff; color:#BFBFBF; cursor:pointer; }
fieldset.toogle legend:hover { color:gray; }
fieldset.toogle .clearfix { display:none; }

fieldset.toogle.on legend { color:#D30062; }
fieldset.toogle.on .clearfix { display:block; }

fieldset.toogle legend::after { font:.9em/1 "WebSymbolsRegular"; content:' ;'; color:#ddd; }
fieldset.toogle.on legend::after { font:.9em/1 "WebSymbolsRegular"; content:' :'; color:#ddd; }
fieldset.toogle.on legend:hover::after, fieldset.toogle legend:hover::after { color:gray; }

.float-actions { 
	position:fixed;
	margin:0; 
	width:100%;
	bottom:0; 
	left:13.75em; }
	
.float-actions .actions { 
	margin:0; 
	padding:.625em 15em .625em 1.25em; 
	background:rgba(245, 245, 245, .9); }

.float-actions .actions:hover { 
	background:rgba(245, 245, 245, 1); }

.float-actions .actions .btn { 
	margin:0 0 0 .325em; }

.float-actions .actions .btn:first-child { 
	margin:0; }

.float-actions span.info { 
	line-height:30px; 
	color:gray; }


/* Alerts */

.allert-container { position:fixed; top:20px; right:20px;  }
.alert-message { transition:all 0.2s linear 0s; -moz-transition:all 0.2s linear 0s; -webkit-transition:all 0.2s linear 0s; -o-transition:all 0.2s linear 0s; box-shadow:0 0 10px #ccc; -moz-box-shadow:0 0 10px #ccc; -webkit-box-shadow:0 0 10px #ccc; -o-box-shadow:0 0 10px #ccc; }
.alert-message a { text-decoration:underline; font-weight:400; }
.alert-message a:hover, .alert-message a.close { text-decoration:none; }
.alert-message:hover { box-shadow:0 0 15px #bbb; -moz-box-shadow:0 0 15px #bbb; -webkit-box-shadow:0 0 15px #bbb; -o-box-shadow:0 0 15px #bbb; }

/* UI Sortable */

.ui-sortable-helper { 
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }

.listingtable.zebra-striped tbody.ui-sortable .ui-sortable-helper td,
.listingtable.zebra-striped tbody.ui-sortable .ui-sortable-helper tr:hover td { background-color: #ECF1F2; }
.ui-sortable tr.ui-sortable-helper { margin-top:-2.5em; }


/* Uncategorized */
.url-snippet { color:#093; font:1em/1 monospace; }

/* Icons */

.iconweb { font-family:"WebSymbolsRegular"; font-variant:normal; text-transform:none; }