#godmode .mediamanager.container { padding:0 1.25em; }

.action-bar { 
	background:#F2F2F2; 
	padding:.9375em 1.25em; 
	margin-bottom: 1.25em; }
	
.action-bar	form { margin:0; }

.medialist li { margin-bottom:1.25em; }
	
.medialist .thumbnail {
	position:relative;
	padding:.25em; 
	border:1px solid #ccc; 
	display:block; 
	border-radius:.125em;   }
.medialist a.thumbnail:hover { border-color:#0074A4; }
.medialist .thumbnail img { display:block; }

.medialist .thumbnail .dragHandle {
	text-indent:-999px;
	opacity:0; 
	display:block; 
	height:23px; 
	width:24px; 
	background: #fff image_url("journalist/drag-handle.png") 4px 4px no-repeat; 
	cursor:move;
	position:absolute;
	right:0;
	top:0;
	transition:opacity 0.2s linear 0s;
	-moz-transition:opacity 0.2s linear 0s;
	-webkit-transition:opacity 0.2s linear 0s;
	-o-transition:opacity 0.2s linear 0s; }

.medialist .thumbnail:hover .dragHandle { opacity:1; }

.mediamanager .name { margin-bottom:.3125em;}
.mediamanager .url-snippet { margin-bottom:.625em;}
.mediamanager .name,
.mediamanager .url-snippet,  
.mediamanager .description, 
.mediamanager .tags { display:block; }
.mediamanager .count { background: #0074A4; }
.mediamanager .update { color:#BFBFBF; }
.mediamanager .controls .btn { margin-bottom:5px; }

.upload { 
  background: none repeat scroll 0 0 #eee;
	border: 5px dashed #ddd;
	padding: 2.5em; }

.mediamanager .modal-header { padding: 5px 20px; }
.mediamanager .container { padding:0; width:auto; }
.mediamanager .action-bar { border-bottom: 1px solid #E1E1E1; margin-bottom:0; } 
.mediamanager .breadcrumb {
	margin-bottom:0;
	padding:0;
	background:none;
	border:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none; }
  .mediamanager .breadcrumb li {
		line-height:30px; }
	.mediamanager .breadcrumb li.active {
		font-size:14px;
		font-weight:700; }	
.mediamanager .modal-body { 
  height:360px; 
	overflow:auto; 
	padding:20px 20px 0; }
.mediamanager .modal-footer { padding:14px 20px 15px 20px; line-height:30px; }
.mediamanager .modal-footer .help { text-align:right; }	