%article{:class => "widget-entry clearfix", :data => {:preview => ""}}
  %h2= raw @element.title.to_link(@element).html_safe
  %p.post-description.clearfix= @element.meta_description
  .page.postinfo.pos-r= render :partial => "shared/elements/block_panel", :locals => {:element => @element}
