%fieldset.divider
	
	.clearfix
		= f.label :description, t(".description")
		.input.span18
			= f.text_area :description, :rows => 3, :class => "xxlarge", :autocomplete => "off"
			%span.help-block= t(".help.description")