%section#comments.container
  %header.page-header.pos-r
    %h2
      = t('.title')
      %small= @options[:model].comments.count
  - @options[:model].comments.web.each do |comment|
    = comment.render(:block)
  = render_cell "journalist/comments", :form, @options if @options[:can_post]
