= render :partial => "/godmode/shared/headers/stated_edit_header", :locals => {:edit_type => JournalArticle.model_name.parameterize, :item => @journal_article}
.container
  .row
    = @journal_article.render(:page)
= render :partial => "/godmode/shared/actions/preview_actions"
