= render :partial => "/godmode/shared/headers/edit_header", :locals => {:create_type => Account.model_name.parameterize}

.container
  .row
    = form_for [:godmode, @account], :method => :put do |f|
      = render :partial => "form", :locals => { :f => f }
      .float-actions= render :partial => "/godmode/shared/actions/save", :locals => {:f => f}