- content_for :sidebar do
  = render_section(:sidebar)
- content_for :postcontent do
  = render_cell "journalist/reportages_navigation", :widget
  = render_cell "journalist/rubric_navigation", :widget
  = render_cell "journalist/columns_navigation", :widget
