- content_for :sidebar do
  = render_section(:sidebar)
.span18
  - if @articles.any?
    - @articles.each do |item|
      = item.render(:block)
      .bgoverlay{:title => t('.bgoverlay'), :data => {:elements => "article.active"}}
