= f.label :acl_password, t('.acl_password')
.input
  = f.text_field :acl_password, :data => {:"password-target" => "true"}
  = link_to t(:generate), '#', :class => "btn small", :data => {:"password-generator" => "data-password-target"}
  %span.help-block= t('.help.acl_password')