%article{:class => "widget-entry clearfix", :data => {:preview => ""}}
  %h2
    %sup.marker.yellow
      %i.icon-user &nbsp;
    = link_to @element.parent.title, @element.parent.fullpath, :class => "dark-link"
    &rarr;
    = link_to @element.title, @element.router.fullpath
  %p.post-description.clearfix= @element.meta_description
  .page.postinfo.pos-r= render :partial => "shared/elements/block_panel", :locals => {:element => @element}
