- if @routerable
  = @routerable.render(:page).html_safe
  - unless [Profile, MediaCollection, JournalRubric].include?(@routerable.class)
    - content_for :additionals do
      = render_cell "buttons", :like, @routerable, @routerable.rated_by?(@rater)
      = render_section(:comments)
- unless [Profile, MediaCollection, Reportage].include?(@routerable.class)
  - if @layout_sections[:sidebar].present?
    - content_for :sidebar do
      = render_section(:sidebar)
