.controls.span4
	= link_to t("mediabank.media_collections.add_files_button"), add_files_godmode_mediabank_media_collection_path(collection), :class => "btn a-center span4 small"
	= link_to t(:edit), edit_resource_url(collection), :class => "btn a-center span4 small"