%header.action-bar.pos-r
  .row
    = author_list
    = form_tag nil, :style => "margin:0;padding:0;display:inline", :data => {:change_user => ""} do
      = hidden_field_tag "redirector"
    = render :partial => "godmode/mediabank/shared/index_create_form" unless read_only?