%nav.cheeky-nav
  %ul.unstyled.pos-a.pos-bottom.base-menu.dark-links
    - @list.each_with_index do |item, index|
      %li{:class => "itm#{' active' if item[:active]}"}= link_to item[:label], item[:url]
