<!DOCTYPE html>
<html>
<head>
  <title>Journalist</title>
  <%= stylesheet_link_tag    "journalist/application" %>
  <%= javascript_include_tag "journalist/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
