= render :partial => "/godmode/shared/headers/index_header", :locals => {:create_type => ColumnArticle.model_name.parameterize}
.container
  .row
    = form_for [:godmode, @column_article] do |f|
      = render :partial => "form", :locals => { :f => f }
      .float-actions= render :partial => "/godmode/shared/actions/save", :locals => {:f => f}
